<script id="template-download" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <tr class="template-download fade">

    {% if (file.error) { %}

    <td class="name"><span>{%=file.name%}</span></td>
    <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
    <td class="error"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] ||
      file.error%}
    </td>

    {% } else { %}

    <td class="preview">{% if (file.thumbnail_url) { %}
      <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
      {% } %}
    </td>
    <td class="name">
      <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
    </td>
    <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>

    {% } %}

    <td class="actions">
      <span class="delete">
        <button class="button icon-ban-circle" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
          {%=locale.fileupload.destroy%}
        </button>
        <input type="checkbox" name="delete" value="1">
      </span>
    </td>

  </tr>
  {% } %}
</script>
